.content-box{
	position: relative;
	background:linear-gradient(rgba(245,245,245,1),rgba(175,223,228,1));
	.g-page-scroll{
		height: calc(100vh - 330rpx);
		padding:28rpx;
		box-sizing: border-box;
		.item{
			display: flex;;
			margin-top: 48rpx;
			.wrap{
				padding:20rpx;
				border-radius: 10rpx;
				background: #fff;
			}
		}
	}
	.foot-wrap{
		background-color: #fff;
		border-top-left-radius: 20rpx;
		border-top-right-radius: 20rpx;;
		.ipt{
			padding:20rpx;
			height: 140rpx;
			color: #999;
		}
		.btn-bar{
			padding:20rpx;
		}
		
	}
	.tips{
		padding:300rpx 0;
		text-align: center;
		color: #999;
		font-size: 32rpx;
	}
	
}