.g-virtual-Keyboard{
	position: fixed;
	left: 0;
	bottom: 0;
	z-index: 8;
	width: 100%;
	background-color: #f3f3f3;
	.keyboard{
		padding:40rpx 0 100rpx;
		box-sizing: border-box;
		display: flex;
		justify-content: center;
		flex-wrap:wrap;
		.key{
			margin:6rpx;
			padding:20rpx 30rpx;
			border-radius: 10rpx;
			background:#fff;
			font-size: 36rpx;
			box-shadow: 0 4rpx rgba(0,0,0,0.1);
			&:active{
				background-color: #f3f3f3;
			}
		}
		&.subkey{
			padding-bottom: 0rpx;
			.key{
				padding:20rpx 56rpx;
			}
		}
		&.notop{
			padding-top:30rpx;
		}
	}
}
