.content-box{
	position: relative;
	background:linear-gradient(rgba(245,245,245,1),rgba(175,223,228,1));
	.page-content-box{
		padding:200rpx 0 140rpx;
	}
	.info-card{
		display: flex;
		padding:0 40rpx;
		.portrait{
			width: 20%;
			line-height: 0;
			margin:auto;
			margin-bottom: 40rpx;
			border-radius: 50%;
			overflow: hidden;
			.pic{
				width: 100%;
				background-color: #fff;
			}
		}
		.info{
			width: 80%;
			.name{
				font-size: 48rpx;;
			}
			.mobile{
				margin-top:24rpx;
				font-size: 32rpx;;
				color: #687b6e;
			}
		}
	}
	.menu-wrap{
		padding:40rpx 20rpx;
		display: flex;
		flex-wrap: wrap;
		.item{
			width: 50%;
			padding:20rpx;
			box-sizing: border-box;
			.bar{
				padding:30rpx;
				border-radius: 20rpx;
				background-color: #fff;
			}
			.name{
				font-size: 32rpx;
			}
			.pic{
				height: 100rpx;
			}
		};
	}
}