.content-box{
	position: relative;
	background:linear-gradient(rgba(245,245,245,1),rgba(175,223,228,1));
	.page-content-box{
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		height: 100%;
	}
	.back-bar{
		position: relative;
		z-index: 4;
	}

	.info-card{
		margin: auto;
		width: 80%;
		border-radius: 60rpx;
		padding:80rpx 30rpx;
		text-align: center;
		line-height: 2;
		.portrait{
			width: 80%;
			line-height: 0;
			margin:auto;
			margin-bottom: 40rpx;
			border-radius: 50%;
			overflow: hidden;
			.pic{
				width: 100%;
				background-color: #fff;
			}
		}
		.fitem{
			position: relative;
			margin:40rpx 0;
			.ipt-btn{
				position: absolute;
				top: 0;
				right: 0;
				width: auto;;
				height: 88rpx;
				z-index: 4;
			}
			
		}
		.pos-btn{
			border:none;
			padding:0;
			line-height: 0;
		}
		.ipt{
			height: 80rpx;
			border-radius: 40rpx;
			padding:5rpx 20rpx;
			background-color: #fff;
		}
		.btn-bar{
			width: 80%;
			margin:auto;
			margin-top: 60rpx;;
		}
	}
	&.half{
		height: 80vh;
	}
}